@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: myFirstFont;
  src: url("../public/font/Roboto-Regular.ttf");
}

.btn {
  position: relative;

  border: none;
  border-radius: 200px;
  background: none;

  min-height:350px;
  min-width:300px ;
 
}

.btn a {
  margin-top: -200px;
  position: absolute;
  padding: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, .05);
  
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  border-radius: 10px;
  border: 1px solid grey;
  color: #fff;
  z-index: 1;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  text-transform: uppercase;
  transition: all .3s ease-in-out;  
  backdrop-filter: blur(5px)
}

.btn:hover a {
  
  letter-spacing: 3px;
}

.btn a::before {
  content: '';
 
  position: absolute;
  width: 50%;
  height: 100%;
  background: 
    linear-gradient(to left, rgba(255, 255, 255, .15), transparent);
  transform: skewX(40deg) translateX(0);
  transition: all .5s ease-out;
}
.btn .ekyc {
  content: '';
  border-radius: 0px 0px 20px 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(152.97deg, rgba(189, 21, 43, 0.25) 0%, rgba(189, 21, 43, 0) 100%) ;
  border: none;
  transition: all .5s ease-out;
}
.btn .tosol {
  content: '';
  border-radius: 0px 20px 00px 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(152.97deg, rgba(130, 130, 130, 0.25) 0%, rgba(130, 130, 130, 0) 100%) ;
  border: none;
  transition: all .5s ease-out;
}
.btn .corpu {
  
  content: '';
  border-radius: 20px 0px 00px 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(152.97deg, rgba(255, 178, 185, 0.25) 0%, rgba(255, 219, 222, 0) 100%);
  border: none;
  transition: all .5s ease-out;
}
.btn .event {
  content: '';
  border-radius: 0px 0px 0px 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(152.97deg, rgba(0, 84, 115, 0.25) 0%, rgba(0, 84, 115, 0) 100%);
  border: none;
  transition: all .5s ease-out;
}

.btn:hover a::before {
  
  transform: skewX(40deg) translateX(200%);
}

.btn::before,
.btn::after {
  content: '';
  position: absolute;
  margin-top: -200px;
  transform: translateX(-50%);
  width: 30px;
  border-radius: 10px;
  background: #f00;
  transition: all .4s ease-in-out;
  transition-delay: 0s;
}


.btn-footer {
  position: relative;

  border: none;
  border-radius: 200px;
  background: none;

  min-height:90px;
  min-width:260px ;
 
}

.btn-footer a {
  margin-top: -50px;
  position: absolute;

  width: 100%;
  height: 100%;
  display: flex;
  
  align-items: center;
  background: rgba(255, 255, 255, .05);
  
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  border-radius: 10px;
  border: 1px solid grey;
  color: black;
  z-index: 1;
  font-weight: 400;
  
  text-decoration: none;
  overflow: hidden;

  transition: all .3s ease-in-out;  
  backdrop-filter: blur(5px)
}

.btn-footer:hover a {
  
  letter-spacing: 3px;
}

.btn-footer a::before {
  content: '';
 
  position: absolute;
  width: 50%;
  height: 100%;
  background: 
    linear-gradient(to left, rgba(255, 255, 255, .15), transparent);
  transform: skewX(40deg) translateX(0);
  transition: all .5s ease-out;
}
.btn-footer .linkedin {
  content: '';
  border-radius: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(152.97deg, rgba(194, 194, 194, 0.25) 0%, rgba(220, 220, 220, 0) 100%);
  border: none;
  transition: all .5s ease-out;
}
.btn-footer .email {
  content: '';
  border-radius: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(152.97deg, rgba(194, 194, 194, 0.25) 0%, rgba(220, 220, 220, 0) 100%);
  border: none;
  transition: all .5s ease-out;
}

.btn-footer:hover a::before {
  
  transform: skewX(40deg) translateX(200%);
}

.btn-footer::before,
.btn-footer::after {
  content: '';
  position: absolute;
  margin-top: -50px;
  transform: translateX(-50%);
  width: 30px;
  border-radius: 10px;
  background: #f00;
  transition: all .4s ease-in-out;
  transition-delay: 0s;
}


.box-footer {
  background: linear-gradient(152.97deg, rgba(159, 159, 159, 0.05) 0%, rgba(220, 220, 220, 0) 100%);
  backdrop-filter: blur(42px)
}
.box-isi-footer{
  backdrop-filter: blur(42px);
  background: linear-gradient(152.97deg, rgba(194, 194, 194, 0.25) 0%, rgba(220, 220, 220, 0) 100%);;
}

.btn:hover::before,
.btn:hover::after{  
  height: 100%;
  width: 100%;
  
  border-radius: 10px;
  transition-delay: .3s;
}





.btn:nth-child(1)::before,
.btn:nth-child(1)::after {
  background: rgba(255, 178, 185, 0.5);
}

.btn:nth-child(2)::before,
.btn:nth-child(2)::after {
  background: rgba(130, 130, 130, 0.5)  ;
 
}

.btn:nth-child(3)::before,
.btn:nth-child(3)::after {
  background: rgba(0, 84, 115, 0.5);
 
}

.btn:nth-child(4)::before,
.btn:nth-child(4)::after {
  background: rgba(189, 21, 43, 0.5);
  
}
.btn-footer:hover::before,
.btn-footer:hover::after{  
  height: 100%;
  width: 100%;
  
  border-radius: 10px;
  transition-delay: .3s;
}





.btn-footer:nth-child(1)::before,
.btn-footer:nth-child(1)::after {
  background: #cacaca;
}

.btn-footer:nth-child(2)::before,
.btn-footer:nth-child(2)::after {
  background: #cacaca;
 
}

.btn-footer:nth-child(3)::before,
.btn-footer:nth-child(3)::after {
  background: #cacaca;
 
}

.btn-footer:nth-child(4)::before,
.btn-footer:nth-child(4)::after {
  background: #cacaca;
  
}
body{
  background: #F6F6F6;
  font-family: myFirstFont;
}
.box-shadow1 {
  background: #F6F6F6;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
.box-inner1{
  background: #F6F6F6;
box-shadow: inset 0px 0px 4px 3px rgb(0 0 0 / 25%);
border-radius: 20px;
}
.box-inner2{
  background: #F6F6F6;
box-shadow:  inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
.drop-shadow1{
  background: linear-gradient(152.97deg, rgba(159, 159, 159, 0.05) 0%, rgba(220, 220, 220, 0) 100%);
  backdrop-filter: blur(42px);
  /* Note: backdrop-filter has minimal browser support */
  
  border-radius: 20px;
}
.underlinetext{
 
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
.underlinetext .span { 
  background:#F6F6F6; 
  padding:0 10px; 
}


.drop-shadow2{
  background: linear-gradient(152.97deg, rgba(194, 194, 194, 0.25) 0%, rgba(220, 220, 220, 0) 100%);
  backdrop-filter: blur(42px);
  /* Note: backdrop-filter has minimal browser support */
  
  border-radius: 20px;
}
/* .dot-blue{
  
    
  height: 12px;
  width: 20px;
  margin-right: 10px;
    background-color: #82B5CE;
    border-radius: 50%;

} */
.dot-blue ul li::before {
  content: "\2022";
  color: #82B5CE;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  font-size: 30px;
  margin-left: -1em;
}
.dot-orange{
  
  height: 20px;
  width: 20px;
  margin-right: 10px;
  background-color: #E15C30;
  border-radius: 50%;

}

/* .bg-back{
  z-index: -1;
  position: absolute;
  content: "";
  background-image: url("../public/Frame.png");
  background-size: cover;
 
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  min-height: 400px;
} */
